{% set character_id = character.id %}
<details class="sheet-section">
  <summary><h2>Saves &amp; Skills</h2></summary>
  <datalist id="rank-suggestions">
    <option value="Untrained">
    <option value="Trained">
    <option value="Expert">
    <option value="Master">
    <option value="Legendary">
  </datalist>
  <ul id="proficiency-list" class="item-list">
    {% for prof in character.proficiencies %}
      {% include "proficiencies/_row.html" %}
    {% endfor %}
    {% include "proficiencies/_add_trigger.html" %}
  </ul>
</details>
